
@font-face{
    font-family: 'Conduit ITC';
     src: url('../font/Conduit_ITC.ttf');
}

@font-face{
    font-family: 'Conduit ITC Light';
     src: url('../font/conduit-itc-light.otf');
}

@font-face{
    font-family: 'Conduit ITC Extra Light';
     src: url('../font/conduit-itc-extralight.otf');
}

@font-face{
    font-family: 'Conduit ITC Bold';
     src: url('../font/conduit-itc-bold.ttf');
}



body{
    font-family: 'Conduit ITC' !important;
    color: rgba(0, 29, 51, 0.7);
}


.col-md-2 {
    width:20% !important;
}

.icon-bar {
    background-color: #4A606F !important;
}

.navbar-header {
    height: 70px;
}

.navbar-toggle {
    border-color:  #4A606F !important;
}

.navbar{
    background: #F7FAFC;
    font-family: 'Conduit ITC';
    color: rgba(0, 29, 51, 0.7);
    padding-left: 6%;
    position: fixed !important; /* Set the navbar to fixed position */
    top: 0 !important; /* Position the navbar at the top of the page */
    width: 100% !important; /* Full width */
    z-index: 1;
}

.navbar-brand{
    height: 70px !important;
    padding: 22px 15px !important;
    font-size: 36px !important;
    line-height: 20px !important;
}


.navbar-nav {
    font-size: 26px !important;
} 


@media (min-width: 768px) {

    .navbar-nav {
        float: left;
        margin-left: 26.5% !important; 
        padding: 5px 0px !important;
    }

    .navbar-nav > li {
        padding-right: 18px !important;
    }
}

a {
   color: #4A606F !important;
}


/*------ SEÇÃO INICIAL: BANNER ---------*/

.home {
    height: 665px;
    margin-top: 0;
}

#banner{
    position: absolute;
    width: 100%;
    height: 665px;
    top: 60px;
    background: url(../img/banner.png);
    color: #f9f9f9;

}

#titulo {
    font-size: 90px;
    margin-left: 7%;
    height: center;
    margin-top: 15%; 
    font-family: 'Conduit ITC Bold' !important;
}

#inscreva-se{
    margin-left: 7%;
    width: 232px;
    height: 45px;
    left: 150px;
    top: 528px;
    padding: 0px;
    margin-top: 2%;
    font-size: 22px;
    background: #69ACDF;
    border-radius: 5px;
    border-color: #69ACDF;
} 

/*------ PÁGINA INICIAL: O CURSO ---------*/

.curso {
    height: 568px;
    margin-top: 6%;
}

.titulo {
    font-family: Conduit ITC Bold;
    font-size: 38px;
    line-height: 51px;
    text-align: center;
    color:  #001D33;
}

.subtitulo {
    font-family: Conduit ITC Light;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 29, 51, 0.8);
}

.titulo-azul {
    font-family: Conduit ITC Bold;
    font-size: 38px;
    line-height: 51px;
    text-align: center;
    color: #f9f9f9;
    margin-top: 40px;
}

.subtitulo-azul {
    font-family: Conduit ITC Extra Light;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #B0D8F4;
}



.box {
    width: 200px !important;
    height: 293px;
    margin-top: 2%;
    color: #f9f9f9;
    background: #00497F;
    border-radius: 5px;
    text-align:center;
    font-size: 16px;
    line-height: 20px;
    font-family: Conduit ITC Extra Light;
    padding: 0 10px;
    margin-left: 20px;

}

.titulo-box {
    font-family: Conduit ITC;
    font-size: 22px;
    line-height: 21px;
    text-align: center;
    padding-top: 70px;
}

.box-header{
    border-radius: 1000px;
    background-color: #00497F;
    height: 120px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: -45%;
    margin-left:57px;
}

.box-header img {
    padding-top: 20px;
    padding-left: 26px;
    max-height: 90px;
    width: auto;
}

.box p {
    padding-top: 10px;
}

.docentes {
    height: 719px;
    background: #00497F;
}

.foto {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    margin-top: 60px;
}

.nome {
    font-family: Conduit ITC;
    font-size: 26px;
    line-height: 21px;
    text-align: center;
    padding-top: 10px;
}

.titularidade {
    color: #f9f9f9;
}

.cargo {
    font-size: 16px;
    text-align: center;
}