@font-face {
    font-family: 'Conduit ITC';
    src: url('../font/Conduit_ITC.ttf');
}

@font-face {
    font-family: 'Conduit ITC Light';
    src: url('../font/conduit-itc-light.otf');
}

@font-face {
    font-family: 'Conduit ITC Extra Light';
    src: url('../font/conduit-itc-extralight.otf');
}

@font-face {
    font-family: 'Conduit ITC Bold';
    src: url('../font/conduit-itc-bold.ttf');
}



body {
    font-family: 'Conduit ITC' !important;
    color: rgba(0, 29, 51, 0.7);
}

a {
    color: #4A606F !important;
}

.icon-bar {
    background-color: #4A606F !important;
}

.navbar-header {
    height: 70px;
}

.navbar-toggle {
    border-color: #4A606F !important;
}

.navbar {
    background: #F7FAFC;
    color: rgba(0, 29, 51, 0.7);
    position: fixed !important;
    width: 100% !important;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0px !important;
}

.navbar-brand {
    padding: 22px 15px !important;
    font-size: 36px !important;
}

.navbar-collapse .navbar-nav {
    float: right;
    padding: 5px 0px !important;
    font-size: 26px !important;
}


/*------ SEÇÃO INICIAL: BANNER ---------*/


#banner {
    width: 100% !important;
    height: 725px;
    color: #f9f9f9;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(../img/banner.png);
    /* padding-top: 10%;
    padding-bottom: 15%; */
    display: table;
}

.box-texto-banner {
    padding-left: 7%;
    display: table-cell;
    vertical-align: middle !important;
}

#titulo {
    font-size: 90px;
    margin: 0px !important;
    font-family: 'Conduit ITC Bold' !important;
}

#inscreva-se {
    width: 232px;
    height: 45px;
    padding: 0px;
    margin-top: 2%;
    font-size: 22px;
    background: #69ACDF;
    border-radius: 5px;
    border-color: #69ACDF;
}

/*------ PÁGINA INICIAL: O CURSO ---------*/

.curso {

    margin-top: 6%;
    margin-bottom: 6%;
}

.card-curso {
    min-width: 200px;
    margin: 1%;
}

.titulo {
    font-family: Conduit ITC Bold;
    font-size: 38px;
    line-height: 51px;
    text-align: center;
    color: #001D33;
}

.subtitulo {
    font-family: Conduit ITC Light;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: rgba(0, 29, 51, 0.8);
    margin-top: 10px;
}

.titulo-azul {
    font-family: Conduit ITC Bold;
    font-size: 38px;
    line-height: 51px;
    text-align: center;
    color: #f9f9f9;
    margin-top: 40px;
}

.subtitulo-azul {
    font-family: Conduit ITC Extra Light;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #B0D8F4;
}

.box {
    width: 200px !important;
    height: 293px;
    margin-top: 2%;
    color: #f9f9f9;
    background: #00497F;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-family: Conduit ITC Extra Light;
    padding: 0 10px;
    margin-left: 20px;

}

.titulo-box {
    font-family: Conduit ITC;
    font-size: 22px;
    line-height: 21px;
    text-align: center;
    padding-top: 70px;
}

.box-header {
    border-radius: 1000px;
    background-color: #00497F;
    height: 120px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: -45%;
    margin-left: 57px;
}

.box-header img {
    padding-top: 20px;
    padding-left: 26px;
    max-height: 90px;
    width: auto;
}

.box p {
    padding-top: 10px;
}


/* ---SEÇÃO DO CORPO DOCENTE------------------------------ */

.docentes {
    background: #00497F;
    padding-bottom: 2.5%;
}

.card-corpo-docente {
    width: 250px !important;     
    width: 250px!important;
    margin:0.5%; 
} 


.foto img {
    max-height: auto;
    width: 100% !important;
    border-radius: 5px;
}
.slick-track{
    /* width:810px!important; */
}

.nome {
    font-size: 26px;
    line-height: 21px;
    text-align: center;
    padding-top: 10px;
}

.titularidade {
    color: #f9f9f9;
}

.cargo {
    font-size: 16px;
    text-align: center;
}

/* ---SEÇÃO DE DISCIPLINAS------------------------------ */

.header-disciplina {
    margin-bottom: 2% !important;

}

.container-secao {
    display: flex;
    justify-content: center;
}

.box-disciplina {
    min-height: 360px !important;
    min-width: 200px !important;
    width: 230px !important;
    padding: 0!important;
    margin:1%
}

.box-header2 {
    border-radius: 100%;
    background-color: #69ACDF;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    margin-bottom: -25%;
}

.box-header2 img {
    padding-top: 20px;
    padding-left: 26px;
    max-height: 90px;
    width: auto;
}

.box2 {
    width: 100% !important;
    height: 300px !important;
    color: #f9f9f9;
    background: #69ACDF;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-family: Conduit ITC Extra Light;
    padding: 0 10px;



}

.lista {
    font-size: 20px;
    line-height: 22px;
    padding-top: 20px;
}

.titulo-box2 {
    font-family: Conduit ITC Bold;
    font-size: 30px;
    line-height: 21px;
    text-align: center;
    padding-top: 70px;
}

.tcc {
    margin-top: 1.5%;
    text-align: center;
}

#btn-tcc {
    width: 110px;
    height: 35px;
    left: 150px;
    top: 528px;
    padding: 0px;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 20px;
    background: #69ACDF;
    border-radius: 5px;
    border-color: #69ACDF;
    float: none;
    color: #f9f9f9;
    font-family: Conduit ITC Extra Light;
    margin-left: 20px;
    margin-right: 20px;
}

.contato {
    height: 517px;
    background: #F7FAFC;
}

.contato-detalhe {
    padding-left: 0;
    padding-top: 0;
    float: left;
}

.contato-detalhe2 {
    padding-right: 0;
    padding-bottom: 0;
    float: right;
}

.contato-form {
    margin: 0 40px;
    margin-top: 2%;
    color: #4A606F;
    
    min-width: 280px!important;
    width: 500px!important;
    font-size: 16px;
    line-height: 20px;
    font-family: Conduit ITC Extra Light;
}

.contato-form input {
    border-radius: 12px;
    border-color: rgba(0, 29, 51, 0.7);
    border-width: 2px;
}

.btn-contato {
    width: 110px;
    height: 35px;
    left: 150px;
    top: 528px;
    padding: 0px;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 20px;
    background: #003257;
    border-radius: 5px;
    float: none;
    color: #f9f9f9;
    font-family: Conduit ITC;
    margin-left: 20px;
    margin-right: 20px;
    border-width: 0px;
}

/* FOOTER  */

footer{
    
    width: 100%;
    
    /* AE3 */
    font-family: Conduit ITC Light;
    background: #001D33;
    color:#F7FAFC!important;
    font-size: 20px;
    padding-top: 2%;
}

.icone-footer{
    background-color:rgba(0, 73, 127, 0.4);
    height:100px!important;
    width: 100px!important;
    border-radius: 100%;
    text-align:center;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-content: center; 
}

.texto-footer{
    display: flex;
    margin-top: 25px;
}

.texto-footer i{
    font-size: 25px;
    margin-right: 3.5%;
    margin-top: 5px;
    margin-left: 70px;
}

.wrap-icone-footer{
    display: flex;
    justify-content: center;
    align-content: center;
}

.icone-footer i{
    color:#F7FAFC!important;
    font-size:60px!important;
}

.icone-footer a{
    display: flex;
    align-items: center;
}

.container-footer{
    margin-bottom:1%;
    margin-top: 25px;
    margin-right: 50px;
}

.menu-footer{
    list-style-type: none;
}

.menu-footer a{
    color:#F7FAFC!important;
    cursor: pointer;
    
}

.copyright-footer{
    border-top: 1px solid #F7FAFC;
    padding-top: 1%;
    margin-top: 25px;
    margin-right: 50px;
}

.copyright-footer a{
    color: #F7FAFC!important;
}


/* FIM FOOTER */


@media (max-width: 360px) {}

@media (max-width: 640px) {

    #titulo {
        font-size: 45px !important;
    }

    .box-texto-banner {
        padding-left: 3% !important;
    }
}

@media (max-width: 768px) {

    .navbar-collapse .navbar-nav {
        float: left;
        padding-left: 5% !important;

    }

    .menu-footer{
        text-align: center;
        padding: 0px;
    }
    

}

@media (max-width: 1024px) {
    .navbar {

        padding-left: 0px !important;
        padding-right: 0px !important;

    }
    .container-secao{
        display: block!important;
        
    }
    
    .navbar-collapse .navbar-nav {
        font-size: 23px !important;
    }

    .navbar-brand {
        font-size: 32px !important;
    }

    #titulo {
        font-size: 80px;

    }
    

}



@media (max-width: 1200px) {
    .navbar-collapse {
        padding: 0px !important;
    }

    .navbar {

        padding-left: 3%;
        padding-right: 3%;

    }

    .contato-detalhe,
    .contato-detalhe2 {
        display: none;
    }
    .conteudo-contato{
        display: flex;
        justify-content: center;
    }

    /* #banner {
        padding-top: 16%;
        padding-bottom: 16%;
    } */
}